body{
    background-color: blanchedalmond;
  }
hr{
  background-color: blanchedalmond;
  border-style: dotted none none;
  border-width: 5px;
  border-color: blueviolet;
  width: 20%;
}

h1,h3{
  color: blue;
}